{
  "presets": [[
    "@babel/env",
    {
      "corejs": 3,
      "useBuiltIns": "usage",
      "debug": true,
      "modules": false
    }
  ],
  "@babel/react"
  ],
  "plugins": ["@babel/plugin-syntax-class-properties", "transform-class-properties", "@babel/plugin-transform-runtime"]
}