.content-block {
    margin: 0 auto;
    background-color: #4E5D6C;
    border-radius: 5px;
}


.item-image {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.caption-header{
    width: 100%;
    text-align: center;
}