.person-block {
    max-width: 60vw;
    margin: 0 auto;
    border-radius: 5px;
}


.item-image {
    height: 200px;
    width: auto;
    border-radius: 10px;
}

.item-info {
    border-radius: 5px;
}